[submodule "mir-algorithm"]
	path = mir-algorithm
	url = https://github.com/libmir/mir-algorithm
[submodule "doc/dlang.org"]
	path = doc/dlang.org
	url = https://github.com/dlang/dlang.org
[submodule "doc/artwork"]
	path = doc/artwork
	url = https://github.com/libmir/mir-artwork
[submodule "mir-glas"]
	path = mir-glas
	url = https://github.com/libmir/mir-glas
[submodule "mir-cpuid"]
	path = mir-cpuid
	url = https://github.com/libmir/mir-cpuid
[submodule "mir-neural"]
	path = mir-neural
	url = https://github.com/libmir/mir-neural
[submodule "dcv"]
	path = dcv
	url = https://github.com/libmir/dcv
[submodule "mir"]
	path = mir
	url = https://github.com/libmir/mir
[submodule "mir-random"]
	path = mir-random
	url = https://github.com/libmir/mir-random
